<html>
	<titlehead>
	<title>employee details</title>	
</head>
<body>
	<form method="get" th:action="@{/saveemployee}">
		<label>name:</label>
		<input type="text" name="name" id="name">
		<br><br>
		<label>age:</label>
		<input type="text" name="age" id-="age">
		<br><br>
		<label>department:</label>
		<input type="text" name="department" id="department">
		<br><br>
		<label>salary:</label>
		<input type="text" name="salary" id="salary">
		<br><br>
		<label>location:</label>
		<input type="text" name="location" id="location">
		<br><br>
		<label>gender:</label>
		<input type="text" name="gender" id="gender">
		</form>
</body>
</html>